p{
text-align: left;
font-size: 135%;
color: black;
}
h1{
text-align: center;
color: red;
font-size: 215%;
}
.declare{
color: blue;
}
.question{
text-align: left;
font-size: 175%;
color: black;
}
body{
	background-color: lightblue;
}
.navbar-custom{
	background-color: black;
}
.infor{
	color: black;
}

.disclaimer{
	color: red;
}

