<html>
  <head>
    <title>The Importance of Foods</title>
    <link rel="stylesheet" type="text/css"  href="{{url_for('static', filename= 'style.css')}}">
  </head>
  <body>
    <h1>The Importance of Foods</h1>
    <p>As we all know, food is a necessity to survival. However, not just any food will keep you healthy and happy. For this, you need to
    also eat foods that will benefit your body, rather than junk food that will do nothing to help contribute to the clensing of your body.
    You need foods with lots of good nutrients</p>
    <br>
    <p>Vitamins: These are incredibly helpful to your body. Every type of vitamin helps a different part of your body.(Vitamin A, B, C, etc.)
    Some examples of the many benefits of some of these vitamins:</p>
    <p>Vitamin A- Enhances vision, boosts your immune system, and helps your lungs. kidneys,
    and other organs.</p>
    <p>Vitamin B12- Increases energy levels, helps the heart, skin, hair and digestion. These are just two of the many vitamins that help
    our body.</p>
    <p>More can be found <a href="http://www.babyboomerfitnessusa.com/vitamins.html">here.</a></p>
    <p>Minerals:</p>
    <p>Fiber:</p>
  </body>
</html>
