{% extends "layout.html" %}
{% block body %}
  <form action="/chart">
    <select name="pies">
      {{ Goose }}
    </select>
    <input type="submit" value="Submit">
  </form>  
</div>
<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Vitamin Break Down"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: {{ vita }}, label: "Vitamin A "},
			{y: {{ vitb12 }}, label: "Vitamin B12"},
			{y: {{ vitb6 }}, label: "Vitamin B6"},
			{y: {{ vitc }}, label: "Vitamin C"},
			{y: {{ vite }}, label: "Vitamin E"},
			{y: {{ vitk }}, label: "Vitamin K"}
		]
	}]
});
chart.render();

}
</script>
<div id="chartContainer" style="height: 885px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}